<html>
    <%- include head.ejs %>

    <body>
        <%- include navbar.ejs %>
        <div class="">
              <div class="w3-container <%=category['COLOR']%> w3-text-white">
                  <h1><%-category['TITLE']%></h1>
                  <h3><%-category['DISCRIPTION']%></h3>
              </div>
            
          </div>  
        </div>
    </body>

</html>