<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include navbar.ejs %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">categories</h1>
                <a href="/newcategory" class="btn btn-primary">New Category</a>
            </div>
        </div>
        <div class="container">
        <% for(var i=0; i < title.length; i++) { %>
            <div class="card" style="width: 18rem; display: inline-block; background-color:<%=title[i]['COLOR']%>">
                <div class="card-body">
                  <h5 class="card-title"><%=title[i]['TITLE']%></h5>
                  <p class="card-text"><%=title[i]['DISCRIPTION']%></p>
                  <a href="/editcategory/<%=title[i]['ID']%>" class="btn btn-primary">Edit This Category</a>
                </div>
              </div>
         <% } %>
        </div>
    </body>

</html>