<html>
    <%- include head.ejs %>

    <body>
        <%- include navbar.ejs %>
        <div class="">
              <div class="w3-container <%=category.color%> w3-text-white">
                  <h1><%-category.title%></h1>
                  <h3><%-category.description%></h3>
              </div>
              <div>
                  <form
              </div>
          </div>  
        </div>
    </body>

</html>